
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */